{% extends 'base.html.twig' %}

{% block title %}modifier un chaton{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier le chaton <i>{{ categorie.titre }}</i></h1>
        {{ form(formulaire) }}
    </div>
{% endblock %}